# Copyright 2025 Terradue
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

openapi: 3.0.0

info:
  title: AERONET APIs
  description: AERONET search APIs
  version: 1.0.0
  contact:
    name: AERONET APIs
    url: https://www.terradue.com/portal/
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/MIT

servers:
- url: https://aeronet.gsfc.nasa.gov
  description: Base URL of AERONET instance

paths:
  /aeronet_locations_extended_v3.txt:
    get:
      summary: Retrieves the list of AERONET stations
      operationId: get_stations
      responses:
        '200':
          description: |
            ```
            version 1.1
            @separator ','
            @totalColumns 12
            New_Site_ID: 
            Name: 
            Latitude(decimal_degrees): regex("^-?\d+\.\d+$")
            Longitude(decimal_degrees): regex("^-?\d+\.\d+$")
            Altitude(Meters): regex("^\d+\.\d+$")
            Land_Use_type: 
            Data_Start_date(dd-mm-yyyy): regex("^\d{2}-\d{2}-\d{4}$")
            Data_End_Date(dd-mm-yyyy): regex("^\d{2}-\d{2}-\d{4}$")
            Number_of_days_L1: regex("^\d+$")
            Number_of_days_L1.5: regex("^\d+$")
            Number_of_days_L2: regex("^\d+$")
            Number_of_days_Moon_L1.5: regex("^\d+$")
            ```
          content:
            text/csv:
              schema:
                type: string
                example: |
                  AERONET_Database_Site_List,Date_Generated=14-11-2025
                  New_Site_ID,Name,Latitude(decimal_degrees),Longitude(decimal_degrees),Altitude(Meters),Land_Use_type,Data_Start_date(dd-mm-yyyy),Data_End_Date(dd-mm-yyyy),Number_of_days_L1,Number_of_days_L1.5,Number_of_days_L2,Number_of_days_Moon_L1.5
                  SAM0001BRA,Cuiaba,-15.555244,-56.070214,234.000000,Urban_and_Built-Up,16-06-1993,05-11-2002,430,307,238,0

  /cgi-bin/print_web_data_v3:
    get:
      summary: Filters AERONET Version 3 products via web data service 
      operationId: search
      parameters:
      - in: query
        name: year
        required: true
        schema:
          type: integer
          format: int32
        description: 'Starting time moment, Year: 1993 to present (must be 4-digits).'
      - in: query
        name: month
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 12
        description: 'Starting time moment, : Month: 1 to 12.'
      - in: query
        name: day
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 31
        description: 'Starting time moment, Day: 1 to max_day_of_month.'
      - in: query
        name: AVG
        required: true
        schema:
          type: integer
          format: int32
          enum:
          - 10
          - 20
        description: |
          Data Format:
          - All points: AVG=10
          - Daily average: AVG=20
      - in: query
        name: AOD10
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: Aerosol Optical Depth Level 1.0
      - in: query
        name: AOD15
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: Aerosol Optical Depth Level 1.5
      - in: query
        name: AOD20
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: Aerosol Optical Depth Level 2.0
      - in: query
        name: SDA10
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: SDA Retrieval Level 1.0
      - in: query
        name: SDA15
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: SDA Retrieval Level 1.5
      - in: query
        name: SDA20
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: SDA Retrieval Level 2.0
      - in: query
        name: TOT10
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: Total Optical Depth based on AOD Level 1.0 (all points only)
      - in: query
        name: TOT15
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: Total Optical Depth based on AOD Level 1.5 (all points only)
      - in: query
        name: TOT20
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1
        description: Total Optical Depth based on AOD Level 2.0 (all points only)
      - in: query
        name: year2
        required: false
        schema:
          type: integer
          format: int32
        description: |
          Ending time moment, Year: 1993 to present (must be 4-digits).

          If `year2`, `month2`, and `day2` are omitted, then the current day is assumed.
      - in: query
        name: month2
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 12
        description: |
          Ending time moment, : Month: 1 to 12.

          If `year2`, `month2`, and `day2` are omitted, then the current day is assumed.
      - in: query
        name: day2
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 31
        description: |
          Ending time moment, Day: 1 to max_day_of_month.

          If `year2`, `month2`, and `day2` are omitted, then the current day is assumed.
      - in: query
        name: hour
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 23
        description: |
          Specified beginning hour.

          If not specified, then the hour is set to zero
      - in: query
        name: hour2
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 23
        description: |
          Specified ending hour.

          If not specified, then `time2` is incremented to next day and `hour2=0`.
      - in: query
        name: site
        required: false
        schema:
          type: string
        description: |
          Exact match of AERONET database name

          If none specified, then all sites are searched for data during the time interval specified.
      - in: query
        name: lat1
        required: false
        schema:
          type: number
          format: double
        description: |
          Bounding Box

          `lat1`, `lon1`: Lower Left

          Value must be in decimal degrees (including the decimal).
      - in: query
        name: lon1
        required: false
        schema:
          type: number
          format: double
        description: |
          Bounding Box

          `lat1`, `lon1`: Lower Left

          Value must be in decimal degrees (including the decimal).
      - in: query
        name: lat2
        required: false
        schema:
          type: number
          format: double
        description: |
          Bounding Box

          `lat2`, `lon2`: Upper Right

          Value must be in decimal degrees (including the decimal).
      - in: query
        name: lon2
        required: false
        schema:
          type: number
          format: double
        description: |
          Bounding Box

          `lat2`, `lon2`: Upper Right

          Value must be in decimal degrees (including the decimal).
      - in: query
        name: lunar_merge
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1
        description: |
          Enable Lunar AOD (Provisional) Only Download:
          - `0` - No Lunar;
          - `1` - Lunar Data (Provisional).
      - in: query
        name: if_no_html
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1
        description: |
          Determine whether html formatting is printed:
          - `0` - HTML formatting printed (default);
          - `1` - Lunar Data (Provisional).
      responses:
        '200':
          description: |
            ```
            version 1.1
            @separator ','
            @totalColumns 82
            AERONET_Site: 
            Date(dd:mm:yyyy): regex("^\d{2}:\d{2}:\d{4}$")
            Time(hh:mm:ss): regex("^\d{2}:\d{2}:\d{4}$")
            Day_of_Year: regex("^\d+$")
            AOD_1640nm: regex("^-?\d+(\.\d+)?$")
            AOD_1020nm: regex("^-?\d+(\.\d+)?$")
            AOD_870nm: regex("^-?\d+(\.\d+)?$")
            AOD_865nm: regex("^-?\d+(\.\d+)?$")
            AOD_779nm: regex("^-?\d+(\.\d+)?$")
            AOD_675nm: regex("^-?\d+(\.\d+)?$")
            AOD_667nm: regex("^-?\d+(\.\d+)?$")
            AOD_620nm: regex("^-?\d+(\.\d+)?$")
            AOD_560nm: regex("^-?\d+(\.\d+)?$")
            AOD_555nm: regex("^-?\d+(\.\d+)?$")
            AOD_551nm: regex("^-?\d+(\.\d+)?$")
            AOD_532nm: regex("^-?\d+(\.\d+)?$")
            AOD_531nm: regex("^-?\d+(\.\d+)?$")
            AOD_510nm: regex("^-?\d+(\.\d+)?$")
            AOD_500nm: regex("^-?\d+(\.\d+)?$")
            AOD_490nm: regex("^-?\d+(\.\d+)?$")
            AOD_443nm: regex("^-?\d+(\.\d+)?$")
            AOD_440nm: regex("^-?\d+(\.\d+)?$")
            AOD_412nm: regex("^-?\d+(\.\d+)?$")
            AOD_400nm: regex("^-?\d+(\.\d+)?$")
            AOD_380nm: regex("^-?\d+(\.\d+)?$")
            AOD_340nm: regex("^-?\d+(\.\d+)?$")
            Precipitable_Water(cm): regex("^-?\d+(\.\d+)?$")
            AOD_681nm: regex("^-?\d+(\.\d+)?$")
            AOD_709nm: regex("^-?\d+(\.\d+)?$")
            AOD_Empty: regex("^-?\d+(\.\d+)?$")
            AOD_Empty: regex("^-?\d+(\.\d+)?$")
            AOD_Empty: regex("^-?\d+(\.\d+)?$")
            AOD_Empty: regex("^-?\d+(\.\d+)?$")
            AOD_Empty: regex("^-?\d+(\.\d+)?$")
            440-870_Angstrom_Exponent: regex("^-?\d+(\.\d+)?$")
            380-500_Angstrom_Exponent: regex("^-?\d+(\.\d+)?$")
            440-675_Angstrom_Exponent: regex("^-?\d+(\.\d+)?$")
            500-870_Angstrom_Exponent: regex("^-?\d+(\.\d+)?$")
            340-440_Angstrom_Exponent: regex("^-?\d+(\.\d+)?$")
            440-675_Angstrom_Exponent[Polar]: regex("^-?\d+(\.\d+)?$")
            N[AOD_1640nm]: regex("^\d+$")
            N[AOD_1020nm]: regex("^\d+$")
            N[AOD_870nm]: regex("^\d+$")
            N[AOD_865nm]: regex("^\d+$")
            N[AOD_779nm]: regex("^\d+$")
            N[AOD_675nm]: regex("^\d+$")
            N[AOD_667nm]: regex("^\d+$")
            N[AOD_620nm]: regex("^\d+$")
            N[AOD_560nm]: regex("^\d+$")
            N[AOD_555nm]: regex("^\d+$")
            N[AOD_551nm]: regex("^\d+$")
            N[AOD_532nm]: regex("^\d+$")
            N[AOD_531nm]: regex("^\d+$")
            N[AOD_510nm]: regex("^\d+$")
            N[AOD_500nm]: regex("^\d+$")
            N[AOD_490nm]: regex("^\d+$")
            N[AOD_443nm]: regex("^\d+$")
            N[AOD_440nm]: regex("^\d+$")
            N[AOD_412nm]: regex("^\d+$")
            N[AOD_400nm]: regex("^\d+$")
            N[AOD_380nm]: regex("^\d+$")
            N[AOD_340nm]: regex("^\d+$")
            N[Precipitable_Water(cm)]: regex("^\d+$")
            N[AOD_681nm]: regex("^\d+$")
            N[AOD_709nm]: regex("^\d+$")
            N[AOD_Empty]: regex("^\d+$")
            N[AOD_Empty]: regex("^\d+$")
            N[AOD_Empty]: regex("^\d+$")
            N[AOD_Empty]: regex("^\d+$")
            N[AOD_Empty]: regex("^\d+$")
            N[440-870_Angstrom_Exponent]: regex("^\d+$")
            N[380-500_Angstrom_Exponent]: regex("^\d+$")
            N[440-675_Angstrom_Exponent]: regex("^\d+$")
            N[500-870_Angstrom_Exponent]: regex("^\d+$")
            N[340-440_Angstrom_Exponent]: regex("^\d+$")
            N[440-675_Angstrom_Exponent[Polar]]: regex("^\d+$")
            Data_Quality_Level: regex("^Lev\d+$")
            AERONET_Instrument_Number: regex("^\d+$")
            AERONET_Site_Name: 
            Site_Latitude(Degrees): regex("^-?\d+(\.\d+)?$")
            Site_Longitude(Degrees): regex("^-?\d+(\.\d+)?$")
            Site_Elevation(m): regex("^\d+$")
            ```
          content:
            text/csv:
              schema:
                type: string
                example: |
                  AERONET Data Download (Version 3 Direct Sun)
                  AERONET Version 3
                  Version 3: AOD Level 1.0
                  The following data are unscreened and may not have final calibration applied.
                  Contact: Please visit https://aeronet.gsfc.nasa.gov/new_web/data_usage.html to properly cite these data and contact principal investigators at https://aeronet.gsfc.nasa.gov/new_web/site_info_v3
                  AERONET_Site,Date(dd:mm:yyyy),Time(hh:mm:ss),Day_of_Year,AOD_1640nm,AOD_1020nm,AOD_870nm,AOD_865nm,AOD_779nm,AOD_675nm,AOD_667nm,AOD_620nm,AOD_560nm,AOD_555nm,AOD_551nm,AOD_532nm,AOD_531nm,AOD_510nm,AOD_500nm,AOD_490nm,AOD_443nm,AOD_440nm,AOD_412nm,AOD_400nm,AOD_380nm,AOD_340nm,Precipitable_Water(cm),AOD_681nm,AOD_709nm,AOD_Empty,AOD_Empty,AOD_Empty,AOD_Empty,AOD_Empty,440-870_Angstrom_Exponent,380-500_Angstrom_Exponent,440-675_Angstrom_Exponent,500-870_Angstrom_Exponent,340-440_Angstrom_Exponent,440-675_Angstrom_Exponent[Polar],N[AOD_1640nm],N[AOD_1020nm],N[AOD_870nm],N[AOD_865nm],N[AOD_779nm],N[AOD_675nm],N[AOD_667nm],N[AOD_620nm],N[AOD_560nm],N[AOD_555nm],N[AOD_551nm],N[AOD_532nm],N[AOD_531nm],N[AOD_510nm],N[AOD_500nm],N[AOD_490nm],N[AOD_443nm],N[AOD_440nm],N[AOD_412nm],N[AOD_400nm],N[AOD_380nm],N[AOD_340nm],N[Precipitable_Water(cm)],N[AOD_681nm],N[AOD_709nm],N[AOD_Empty],N[AOD_Empty],N[AOD_Empty],N[AOD_Empty],N[AOD_Empty],N[440-870_Angstrom_Exponent],N[380-500_Angstrom_Exponent],N[440-675_Angstrom_Exponent],N[500-870_Angstrom_Exponent],N[340-440_Angstrom_Exponent],N[440-675_Angstrom_Exponent[Polar]],Data_Quality_Level,AERONET_Instrument_Number,AERONET_Site_Name,Site_Latitude(Degrees),Site_Longitude(Degrees),Site_Elevation(m)
                  Tucson,30:10:2025,12:00:00,303,0.022759,0.030613,0.032073,-999.,-999.,0.034822,-999.,-999.,-999.,-999.,-999.,-999.,-999.,-999.,0.040959,-999.,-999.,0.043857,-999.,-999.,0.051272,0.071717,0.898891,-999.,-999.,-999.,-999.,-999.,-999.,-999.,0.470054,0.818301,0.541502,0.447883,1.836690,-999.,99,99,99,0,0,99,0,0,0,0,0,0,0,0,99,0,0,99,0,0,99,99,99,0,0,0,0,0,0,0,99,99,99,99,99,0,lev10,1171,Tucson,32.233002,-110.953003,779.000000
